.aboutme{
    @include flex-col;
    font-family: $inter;
    align-items: center;
    margin: $mobile-body-margin;
    margin-top: 50% ;
    margin-bottom: 10px ;
    &-heading{
        font-size: 45px;
        font-weight: 700;
        color: $primary-color;
        margin-bottom: 20px;
    }
    &-descp{
        font-size: 15px;
        font-weight: 200;
        color: $white-color;
        margin-bottom: 20px;
    }
}