.threeD {
  color: #3CFDDA;
  text-shadow: -3px 0px #FD3C53;
  font-weight: 700;
}

.burger {
  display: flex;
  flex-direction: column;
}
.burger div {
  width: 30px;
  height: 3px;
  border-radius: 4px;
  background: white;
  margin: 4px;
  transition: transform 0.2s ease-out;
}

.first-child-transform {
  transform: rotate(45deg) translate(3px, 5px);
}

.middle-child-transform {
  display: none;
}

.last-child-transform {
  transform: rotate(-45deg) translate(2px, -5px);
}

.hide {
  display: none;
}

circle {
  fill: rgba(60, 253, 218, 0);
  stroke: hsl(353deg, 98%, 61%);
  stroke-dasharray: 251;
  stroke-width: 5px;
  stroke-dashoffset: 126;
}

a:hover {
  transform: scale(1.25);
  transition: transform ease-out 0.5s;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.info .navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
.info .navbar-list {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  align-items: center;
  justify-content: a;
  transform: translateY(-100%);
  transition-duration: 0.5s;
  background: black;
}
.info .navbar-list-info {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 25vh;
  text-align: center;
  background: black;
  flex-direction: column;
}
.info .navbar-list .info-content-btn {
  display: flex;
  flex-direction: row;
  margin: 20px auto 20px auto;
  width: 45%;
}
.info .navbar-list p {
  font-size: 19px;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.info .navbar-list span {
  font-size: 15px;
  margin: 10px auto 10px auto;
  font-family: "Inter", sans-serif;
  font-weight: 100;
}
.info .navbar-list-item {
  color: #8d8d8d;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  display: flex;
  background-color: #1F1F1F;
  width: 100%;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.info .navbar-list-item:hover {
  color: #3CFDDA;
}
.info .logo {
  font-size: 53px;
  font-style: bold;
  font-family: "Inter", sans-serif;
}
.info .burger {
  display: flex;
  flex-direction: column;
  height: auto;
  aspect-ratio: 1;
  padding: 4px;
  position: absolute;
  right: 4px;
  background: rgba(0, 0, 0, 0.6705882353);
  justify-content: center;
}
.info-content {
  display: flex;
  flex-direction: row;
  margin: 5px 10px 5px 10px;
  margin-top: 25%;
  margin-bottom: 10%;
  width: 100%;
  position: relative;
}
.info-content-text {
  width: 80%;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 35px;
}
.info-content-text :last-child {
  font-weight: 100;
  font-size: 15px;
}
.info-content-btn {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.info-content-btn a {
  justify-content: space-around;
  width: auto;
  aspect-ratio: 1;
  justify-content: space-around;
  border-radius: 50%;
}
.info-content-btn a img {
  height: 40px;
}
.info .contact {
  width: 100%;
  margin: 5px 10px 5px 10px;
  font-family: "Inter", sans-serif;
}
.info .contact a {
  font-size: 12px;
  border: 1px solid #3CFDDA;
  color: #3CFDDA;
  text-decoration: none;
  padding: 8px 16px 8px 16px;
  font-weight: 100;
  letter-spacing: 4px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  align-items: center;
  margin: 5px 10px 5px 10px;
  margin-top: 50%;
  margin-bottom: 10px;
}
.portfolio-heading {
  font-size: 45px;
  font-weight: 700;
  color: #3CFDDA;
  margin-bottom: 20px;
}
.portfolio-descp {
  font-size: 15px;
  font-weight: 200;
  color: white;
  margin-bottom: 20px;
}
.portfolio-project {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.portfolio-project .project {
  margin: 10px;
  width: 40%;
  aspect-ratio: 1;
  border: 1px solid white;
}

.aboutme {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  align-items: center;
  margin: 5px 10px 5px 10px;
  margin-top: 50%;
  margin-bottom: 10px;
}
.aboutme-heading {
  font-size: 45px;
  font-weight: 700;
  color: #3CFDDA;
  margin-bottom: 20px;
}
.aboutme-descp {
  font-size: 15px;
  font-weight: 200;
  color: white;
  margin-bottom: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  align-items: center;
  margin: 5px 10px 5px 10px;
  margin-top: 50%;
  margin-bottom: 10px;
}
.skill-heading {
  font-size: 45px;
  font-weight: 700;
  color: #3CFDDA;
  margin-bottom: 20px;
}
.skill-descp {
  font-size: 15px;
  font-weight: 200;
  color: white;
  margin-bottom: 20px;
}
.skill-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.skill-item-component {
  margin: 10px;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-item-component img {
  height: 60px;
  position: absolute;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Inter", sans-serif;
  padding-bottom: 40px;
  margin: 5px 10px 5px 10px;
  margin-top: 50%;
}
.message-heading {
  font-size: 45px;
  font-weight: 700;
  color: #3CFDDA;
  margin-bottom: 20px;
}
.message-descp {
  font-size: 15px;
  font-weight: 200;
  color: white;
  margin-bottom: 20px;
}
.message textarea {
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid #3CFDDA;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  padding: 5px;
}
.message a {
  font-size: 12px;
  border: 1px solid #3CFDDA;
  color: #3CFDDA;
  text-decoration: none;
  padding: 8px 16px 8px 16px;
  font-weight: 100;
  letter-spacing: 4px;
}

@media screen and (min-width: 768px) {
  body {
    letter-spacing: 1.5px;
    font-size: 17px;
  }
  .navbar-list-info {
    padding: 30px 0px 20px 0px;
  }
  .navbar-list-item a {
    font-size: 15px;
  }
  .navbar > .logo {
    visibility: hidden;
  }
  .navbar .threeD {
    visibility: none;
    font-size: 65px;
    line-height: 1;
  }
  .info .burger {
    top: 10px;
    right: 20px;
    padding: 10px;
  }
  .info-content {
    margin: 10% 25px 5% 25px;
  }
  .info-content-text {
    line-height: 0.5;
    font-size: 51px;
  }
  .info .contact {
    margin: auto auto auto 25px;
  }
  .info .contact a {
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
  }
  .info .navbar-list .info-content-btn {
    width: 150px;
  }
  .portfolio {
    margin-top: 25%;
  }
  .portfolio-project .project {
    width: 20%;
  }
  .aboutme {
    margin: 25% 50px auto 50px;
    padding: auto 25px auto 25px;
  }
  .aboutme-descp {
    line-height: 32px;
  }
  .skill {
    margin: 25% 25px auto 25px;
  }
  .message {
    margin: 25% 25px auto 25px;
  }
  .message #message-name {
    width: 25rem;
  }
  .message #message-topic {
    width: 25rem;
  }
  .message #message-content {
    width: 35rem;
  }
}
@media screen and (min-width: 1024px) {
  body {
    letter-spacing: 1.5px;
    font-size: 20px;
  }
  .navbar-list-info {
    padding: 30px 0px 20px 0px;
  }
  .navbar-list-item a {
    font-size: 17px;
  }
  .navbar > .logo {
    visibility: hidden;
  }
  .navbar .threeD {
    visibility: none;
    font-size: 70px;
    line-height: 1;
  }
  .info .burger {
    top: 10px;
    right: 20px;
    padding: 10px;
  }
  .info-content {
    margin: 10% 25px 5% 25px;
  }
  .info-content-text {
    line-height: 0.5;
    font-size: 55px;
  }
  .info .contact {
    margin: auto auto auto 25px;
  }
  .info .contact a {
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
  }
  .info .navbar-list .info-content-btn {
    width: 150px;
  }
  .portfolio {
    margin-top: 25%;
  }
  .portfolio-project .project {
    width: 20%;
  }
  .aboutme {
    margin: 25% 50px auto 50px;
    padding: auto 25px auto 25px;
  }
  .aboutme-descp {
    line-height: 32px;
  }
  .skill {
    margin: 25% 25px auto 25px;
  }
  .message {
    margin: 25% 25px auto 25px;
  }
  .message #message-name {
    width: 25rem;
  }
  .message #message-topic {
    width: 25rem;
  }
  .message #message-content {
    width: 35rem;
  }
}
@media screen and (min-width: 1600px) {
  body {
    letter-spacing: 1.5px;
    font-size: 24px;
  }
  .navbar-list-info {
    padding: 30px 0px 20px 0px;
  }
  .navbar-list-item a {
    font-size: 19px;
  }
  .navbar > .logo {
    visibility: hidden;
  }
  .navbar .threeD {
    visibility: none;
    font-size: 74px;
    line-height: 1;
  }
  .info .burger {
    top: 10px;
    right: 20px;
    padding: 10px;
  }
  .info-content {
    margin: 10% 25px 5% 25px;
  }
  .info-content-text {
    line-height: 0.5;
    font-size: 58px;
  }
  .info .contact {
    margin: auto auto auto 25px;
  }
  .info .contact a {
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
  }
  .info .navbar-list .info-content-btn {
    width: 150px;
  }
  .portfolio {
    margin-top: 25%;
  }
  .portfolio-project .project {
    width: 20%;
  }
  .aboutme {
    margin: 25% 50px auto 50px;
    padding: auto 25px auto 25px;
  }
  .aboutme-descp {
    line-height: 32px;
  }
  .skill {
    margin: 25% 25px auto 25px;
  }
  .message {
    margin: 25% 25px auto 25px;
  }
  .message #message-name {
    width: 25rem;
  }
  .message #message-topic {
    width: 25rem;
  }
  .message #message-content {
    width: 35rem;
  }
}
body {
  background: #1F1F1F;
  height: 100vh;
  line-height: 1.5;
  color: white;
  margin: 0px;
  padding: 0px;
}
body a {
  text-decoration: none;
  color: white;
}
body a:hover {
  color: #3CFDDA;
}/*# sourceMappingURL=main.css.map */